<!DOCTYPE html>  
<html>
    <head>  
        <meta charset="UTF-8">  
        <title>soso</title>
        <link rel="stylesheet" href="./css/css.css">
        <script src="./js/angular.js" type="text/javascript" charset="utf-8"></script>
    </head>  
    <body   ng-app="myApp"  ng-controller="show">
            <div id="jie">
                <input type="text" ng-model="data"  ng-keyup="change(data)">
                <ul> 
                    <li ng-repeat="attr in arr"><a href="https://www.baidu.com/s?wd={{attr}}">{{attr}}</a></li>
                </ul>  
            </div>  
            <script src="./js/soso.js"></script>
    </body>  
</html>  